<%- model_class = Project -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1> -->
  <h1><%= @project.name %> <small><%= @project.description %></small></h1>
</div>

<!-- <dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @project.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @project.user_id %></dd>
</dl> -->

<h3 style="margin-bottom: 25px;">Total spent time in this project: <span class="label label-info"><%= @project.spent '%hours%h %minutes%m %seconds%s' %></span><% if @project.currentlog %> and counting!<% end %></h3>

<div class="jumbotron">
  <% if @project.currentlog %>
  <!--   <h3>Current log:</h3>
    <dl class="dl-horizontal">
      <dt>Start:</dt><dd><%= @project.currentlog.start %></dd>
      <dt>Spent:</dt><dd><%= @project.currentlog.spent '%hours%h %minutes%m %seconds%s' %></dd>
    </dl> -->
    <p>You <strong>are</strong> currently logging this project</p>
    <%#= link_to 'Stop logging!', log_path(@project), :method => 'post', :class => 'btn btn-success btn-lg' %>
    <%= link_to 'I\'m done logging for now!!', stop_log_path(@project.currentlog), :method => 'post',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-warning btn-lg' %>
  <% else %>
      <p>You are currently <strong>not</strong> logging this project</p>
      <%= link_to 'Start logging!', log_path(@project), :method => 'post', :class => 'btn btn-success btn-lg' %>
  <% end %>
</div>

<h3>Time Logs</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Comment</th>
        <th>Spent time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @project.logs.reverse.each_with_index do |log, i| %>
      <tr <%= !log.finish ? 'class=current' : '' %>>
        <td><%= i + 1 %></td>
        <td><%= log.start %></td>
        <td>
          <% if log.finish %>
            <%= log.finish %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= log.comment %></td>
        <td>
          <%= log.spent '%hours%h %minutes%m %seconds%s' %>
        </td>
        <td>
          <% if log.finish %>
            <div class="btn-group btn-group-sm">
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_log_path(log), :class => 'btn btn-sm btn-default'
              %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    log_path(log),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-sm btn-danger'
              %>
            </div>
          <% else %>
            <%= link_to 'I\'m done!!', stop_log_path(@project.currentlog), :method => 'post',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-warning' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<!-- <div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div> -->
