<%- model_class = Project -%>

<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span> Back to My Projects'),
  projects_path,
  :class => 'btn btn-default visible-xs'
%>

<div class="page-header">
  <h1>
    <%= @project.name %>
    <small><%= @project.description %></small>
  </h1>
</div>

<div class="epic-display" <% if @project.currentlog %>data-counter="<%= @project.spent %>"<% end %>>
  <%= raw(@project.spent '%hours%<small>h</small> %minutes%<small>m</small> %seconds%<small>s</small>') %>
</div>

<!-- <h3 style="margin-bottom: 25px; line-height: 30px;">Total spent time in this project: <span class="label label-info"><%= @project.spent '%hours%h %minutes%m %seconds%s' %></span><% if @project.currentlog %> <small>and counting!</small><% end %></h3> -->

<% if @project.currentlog %>
  <%= link_to raw('<span class="glyphicon glyphicon-pause"></span><br />Stop logging, for now!!'),
    stop_log_path(@project.currentlog), :method => 'post',
    :data => { :confirm => 'This action will STOP logging time for project:'+"\n"+@project.name+"\n\n"+' Are you sure?' },
    :class => 'btn btn-warning btn-epic'
  %>
<% else %>
  <%= link_to raw('<span class="glyphicon glyphicon-play"></span><br />Start logging now!'),
    log_path(@project), :method => 'post',
    #:data => { :confirm => 'This action will START logging time for project:'+"\n"+@project.name+'.'+"\n\n"+' Are you sure?' },
    :class => 'btn btn-success btn-epic'
  %>
<% end %>

<div id="log-history">
  <h3>Log history</h3>
  <div class="table-responsive">
    <table id="logs-table" class="table">
      <thead>
        <tr>
          <th class="center">#</th>
          <th>Log period</th>
          <th>Spent time</th>
          <th>Comment</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <% @project.logs.reverse.each_with_index do |log, i| %>
        <tr <%= !log.finish ? 'class=warning' : '' %>>
          <td class="center"><%= @project.logs.size - i %></td>
          <td class="nowrap log-period">
            <% if !log.finish %>
              <div><%=l log.start, format: "%a, %d %b %Y" %></div>
              <div><small>From:</small> <%=l log.start, format: "%H:%M:%S" %> - <small>To:</small> ?
            <% else %>
              <% if log.start.to_date == log.finish.to_date %>
                <div><%=l log.start, format: "%a, %d %b %Y" %></div>
                <div><small>From:</small> <%=l log.start, format: "%H:%M:%S" %> - <small>To:</small> <%=l log.finish, format: '%H:%M:%S' %></div>
              <% else %>
                <% if log.start.year != log.finish.year %>
                  <div><small>From:</small> <%=l log.start, format: :withsecs %></div>
                  <div><small>To:</small> <%=l log.finish, format: :withsecs %></div>
                <% elsif log.start.month != log.finish.month %>
                  <div><small>From:</small> <%=l log.start, format: :withsecs %></div>
                  <div><small>To:</small> <%=l log.finish, format: "%a, %d %b, %H:%M:%S" %></div>
                <% else %>
                  <div><small>From:</small> <%=l log.start, format: :withsecs %></div>
                  <div><small>To:</small> <%=l log.finish, format: "%a, %d, %H:%M:%S" %></div>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td class="nowrap"<% if !log.finish %> data-counter="<%= log.spent %>"<%end %>>
            <%= log.spent '%hours%h %minutes%m %seconds%s' %>
          </td>
          <td class="important"><%= log.comment %></td>
          <td class="center">
            <% if log.finish %>
              <div class="btn-group btn-group-sm">
                <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'),
                      edit_log_path(log),
                      :class => 'btn btn-default',
                      :title => t('.edit', :default => t("helpers.links.edit"))
                %>
                <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'),
                      log_path(log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger',
                      :title => t('.destroy', :default => t("helpers.links.destroy"))
                %>
              </div>
            <% else %>
              <%= link_to 'I\'m done!!', stop_log_path(log), :method => 'post',
                :data => { :confirm => 'This action will STOP logging time for project:'+"\n"+@project.name+'.'+"\n\n"+' Are you sure?' },
                :class => 'btn btn-warning' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>