<%= form_for @log, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finish, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :finish, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comment, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                logs_path, :class => 'btn' %>
  </div>
<% end %>
