<%= form_for @log, :html => { :class => '' } do |f| %>
  <div class="form-group">
    <%= f.label :start, :class => '' %>
    <%= f.datetime_select :start, :include_seconds => true, :class => 'form-control text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :finish, :class => '' %>
    <%= f.datetime_select :finish, :include_seconds => true, :class => 'form-control text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => '' %>
    <%= f.text_area :comment, :class => 'form-control text_field' %>
  </div>

  <div class="">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if @log.id %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  project_path(@log.project), :class => 'btn' %>
    <% end %>
  </div>
<% end %>
