<%= form_for @log, :html => { :class => '' } do |f| %>

  <% if @log.errors.full_messages.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @log.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start, :class => '' %>
    <div>
      <%= f.datetime_select :start, :include_seconds => true, :class => 'form-control text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :finish, :class => '' %>
    <div>
      <%= f.datetime_select :finish, :include_seconds => true, :class => 'form-control text_field' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => '' %>
    <%= f.text_area :comment, :class => 'form-control text_field' %>
  </div>

  <div class="">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if @log.id %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  project_path(@log.project), :class => 'btn' %>
    <% end %>
  </div>
<% end %>
